    <main class="main">
        <header class="headerPrincipal">
            <h1> Bayer 04 Leverkusen </h1>
            <h2> "Jugamos como nunca y perdimos como siempre :c" </h2>
            <h3> - Di Stéfano </h3>
            <button> Explorar </button>
        </header>