 <div class="articleInformacion">
                <img id="logo" src="assets/img/logo.svg">
                <section>
                    <h1> Informaci칩n: </h1>
                    <p> Bundesliga - Primera Divisi칩n de Alemania </p>
                    <p> Jugadores en Plantilla: 31 </p>
                    <p> Edad Media: 25.4 </p>
                    <p> Estadio: BayArena 30210 Asientos</p>
                    <button> M치s Informaci칩n </button>
                </section>
            </div>